mat-card {
  width: 30%;
  min-width: 400px;
  margin: 10% auto;
  border-radius: 10px;
}
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: 10px auto;
}
mat-card-content {
  margin-top: 20px;
}

.example-stretched-tabs {
  max-width: 800px;
  min-width: 300px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

.scale {
  transform: scale(1.6);
}
